<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/main-styles.css' />
  </head>
  <body>
    <header>
        <h3 class="name">Team Member : Yug Sutariya and Vasuki Patel</h1>
        <h3>Studend Id : N01580206 , N01579884</h2>
    </header>
    <main>
        {{{body}}}
    </main>
    
    <footer>
        yugsutariya4i@gmail.com
        patelvasuki@gmail.com
    </footer>
  </body>
</html>